$bg-colors: (
  primary: #6600cc,
  secondary: #6600cc,
  success: rgb(35, 177, 7),
  warning: #fae60e,
  error: #ef767a,
  white: #fff,
  black: #000,
  gray-ft: #425168
);

$text-colors: (
  primary: #6600cc,
  secondary: #6600cc,
  success: #00A500,
  warning: #f7ee7f,
  error: #ef767a,
  white: #fff,
  black: #000,
);
  
$fill-colors: (
  grey: #6600cc,
  dark-grey: #6600cc,
  success: #00A500,
  warning: #f7ee7f,
  error: #ef767a,
  white: #fff,
  black: #000,
);

$border-colors: (
  primary: #6600cc,
  secondary: #6600cc,
  success: #00A500,
  warning: #f7ee7f,
  error: #ef767a,
  white: #fff,
  gray: #c0c0c0,
  black: #000,
);
  