@import './variables';
@import './generators/mixins';
@import './generators/colors';
@import './generators/padding';
@import './generators/margin';
@import './generators/flexbox';
@import './generators/positions';
@import './generators/sizes';
@import './generators/font';
@import './generators/box';
@import './generators/border';
@import './generators/withoutDefaults';

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

.curp {
  cursor: pointer;
}

.offerCard:hover {
  box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
  transition:  100ms ease-out; 
  transform: scale(1.06);
}