.df {
    display: flex;
}
.fdr {
    flex-direction: row;
}
.fdrr {
    flex-direction: row-reverse;
}
.fdrc {
    flex-direction: column;
}
.fdrcr {
    flex-direction: column-reverse;
}
.fwn{
    flex-wrap: nowrap;
}
.fww{
    flex-wrap: wrap;
}
.fwwr{
    flex-wrap: wrap-reverse;
}
.jcfs {
    justify-content: flex-start;
}
.jcfe {
    justify-content: flex-end;
}
.jcc {
    justify-content: center;
}
.jcsb {
    justify-content: space-between;
}
.jcsa {
    justify-content: space-around;
}
.jcse {
    justify-content: space-evenly;
}
.ais {
    align-items: stretch;
}
.aifs {
    align-items: flex-start;
}
.aife {
    align-items: flex-end;
}
.aic {
    align-items: center;
}
.aib {
    align-items: baseline;
}
.acfs {
    align-content: flex-start;
}
.acfe {
    align-content: flex-end;
}
.acc {
    align-content: center;
}
.acsb {
    align-content: space-between;
}
.acsa {
    align-content: space-around;
}
.acs {
    align-content: stretch;
}