@for $space from 1 through 50 {
    .fz#{$space} {
      font-size: #{$space}px;
    }
}
.c {
    @include color-modifiers();
}

.f {
    @include fill-color-modifiers();
}
.ttu{
    text-transform: uppercase;
}
.ttl{
    text-transform: lowercase;
}
.ttc{
    text-transform: capitalize;
}

.fwi{
    font-weight: inherit;
}
.fw100{
    font-weight: 100;
}
.fw200{
    font-weight: 200;
}
.fw300{
    font-weight: 300;
}
.fwn{
    font-weight: 400;
}
.fw500{
    font-weight: 500;
}
.fw600{
    font-weight: 600;
}
.fwb{
    font-weight: 700;
}
.fw800{
    font-weight: 800;
}
.fw900{
    font-weight: 900;
}