@mixin bg-color-modifiers($attribute: 'background-color') {
    @each $name, $hex in $bg-colors {
        &-#{$name} {
            #{$attribute}: $hex;
        }
        &-#{$name}-h:hover {
            #{$attribute}: $hex;
        }
    }
}
@mixin color-modifiers($attribute: 'color') {
    @each $name, $hex in $text-colors {
        &-#{$name} {
            #{$attribute}: $hex;
        }
        &-#{$name}-h:hover {
            #{$attribute}: $hex;
        }
    }
}

@mixin fill-color-modifiers($attribute: 'color') {
    @each $name, $hex in $fill-colors {
        &-#{$name} {
            #{$attribute}: $hex;
        }
        &-#{$name}-h:hover {
            #{$attribute}: $hex;
        }
    }
}

@mixin border-color-modifiers($attribute: 'border-color') {
    @each $name, $hex in $border-colors {
        &-#{$name} {
            #{$attribute}: $hex;
        }
        &-#{$name}-h:hover {
            #{$attribute}: $hex;
        }
    }
}