@for $space from 1 through 80 {
    .p#{$space} {
      padding: #{$space}px;
    }
    .pt#{$space} {
        padding-top: #{$space}px;
    }
    .pb#{$space} {
        padding-bottom: #{$space}px;
    }
    .pl#{$space} {
        padding-left: #{$space}px;
    }
    .pr#{$space} {
        padding-right: #{$space}px;
    }
}

@for $space from 1 through 100 {
    .pt#{$space}p {
        padding-top: percentage($space/100);
    }
    .pb#{$space}p {
        padding-bottom: percentage($space/100);
    }
    .pl#{$space}p {
        padding-left: percentage($space/100);
    }
    .pr#{$space}p {
        padding-right: percentage($space/100);
    }
}