.posa {
    position: absolute;
}

.posr {
    position: relative;
}

.posf {
    position: fixed;
}

.dib {
    display: inline-block;
}

.di {
    display: inline;
}

.db {
    display: block;
}

.ovh{
    overflow: hidden;
}
.ovxa{
    overflow-x: auto
}
.ovya{
    overflow-y: auto
}
.tac{
    text-align: center;
}

@for $space from -100 through 100 {
    .t#{$space} {
      top: #{$space}px;
    }
    .b#{$space} {
        bottom: #{$space}px;
    }
    .l#{$space} {
        left: #{$space}px;
    }
    .r#{$space} {
        right: #{$space}px;
    }
}